{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint/eslint-plugin"],
	"extends": [
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:markdownlint/recommended",
		"prettier",
		"prettier/@typescript-eslint",
		"eslint:recommended"
	],
	"root": true,
	"env": {
		"node": true
	},
	"ignorePatterns": [".eslintrc.cjs", "**/database/**/*.js", "**/database/**/*.ts", "*.cjs", "main.ts"],
	"rules": {
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"no-case-declarations": "off"
	},
	"overrides": [{
		"files": ["*.md"],
		"excludedFiles": ["**/*.ts", "**/*.js"],
		"parser": "eslint-plugin-markdownlint/parser",
		"extends": ["plugin:markdownlint/recommended"]
	}]
}
