name: Markdown Lint

on:
  push:
    branches: [ 'main', 'development', 'development-ref' ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 20
    - name: Install dependencies
      run: npm ci
    - name: Run Markdown Lint
      run: npm run lint:markdownlint
